<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/ui">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">View Crew Member</li>
  </ol>
</nav>
<br>



<div class='view-user p-5'>


  {{#each rows}}
  <div class="row mb-5">
    <div class="col text-center">
      <h3>{{this.first_name}} {{this.last_name}}</h3>
    </div>
  </div>
  <div class='row'>
    <div class='col mb-5'>
      <table class='table'>
        <thead>
          <tr>
            <th scope='col'>First Name</th>
            <th scope='col'>Last Name</th>
            <th scope='col'>Email</th>
            <th scope='col'>Phone</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th scope='row'>{{this.first_name}}</th>
            <td>{{this.last_name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone}}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>


  <a tabindex="0" class="btn btn-lg btn btn-warning mt-5 col-md-12 mb-5" role="button" data-bs-toggle="popover"
    data-bs-trigger="focus" title="Medical fitness cetificates."
    data-bs-content="And here's some amazing content. It's very engaging. Right?">MEDICAL'S CERTIFICATES</a>

  {{!-- covid-19 vaccination certificate --}}

  <div class='row'>
    <div class='col'>
      <b>COVID-19 VACCINATION CERTIFICATES</b>
    </div>
  </div>

  <div class='row'>
    <div class='col mb-3'>
      ISSUING DATE: {{this.covid_19}}
    </div>
  </div>
  {{!-- DOWNLOAD BUTTON --}}
  <div class='col mb-4'>
    {{#if this.covid_19D}}
    <a href='https://uploadvms.s3.amazonaws.com/{{this.covid_19D}}'>
      <button type="button" class="btn btn-outline-warning">DOWNLOAD</button>

    </a>

  </div>
  {{/if}}


  {{!-- medical fitness certificate --}}
  <div class='row'>
    <div class='col'>
      <b>MEDICAL FITNESS CERTIFICATE</b>
    </div>
  </div>

  <div class='row'>
    <div class='col mb-3'>
      EXPIRY DATE: {{this.fitness}}
    </div>
  </div>
  {{!-- DOWNLOAD BUTTON --}}
  <div class='col mb-4'>
    {{#if this.fitnessD}}
    <a href="https://uploadvms.s3.amazonaws.com/{{this.fitnessD}}">
      <button type="button" class="btn btn-outline-warning">DOWNLOAD</button>

    </a>
  </div>



  {{/if}}

  {{!-- YELLOW FEVER VACCINATION --}}

  <div class='row'>
    <div class='col'>
      <b>YELLOW FEVER VACCINATION</b>
    </div>
  </div>
  <div class='row'>
    <div class='col mb-3'>
      ISSUING DATE: {{this.yellowF}}
    </div>
  </div>

  {{!-- DOWNLOAD BUTTON --}}
  <div class='col mb-3'>
    {{#if this.yellowFD}}
    <a href="https://uploadvms.s3.amazonaws.com/{{this.yellowFD}}">
      <button type="button" class="btn btn-outline-warning">DOWNLOAD</button>

    </a>

  </div>

  {{/if}}





  {{!-- Button with popover ship based courses --}}

  <a tabindex="0" class="btn btn-lg btn btn-success col-md-12 mb-5" role="button" data-bs-toggle="popover"
    data-bs-trigger="focus"
    title="As per STCW convention, the familiarizations below mentioned must be held on board when the crew member arrives and before to start his duty. Captain is the responsible for the implementation."
    data-bs-content="And here's some amazing content. It's very engaging. Right?">Ship's based
    famliarizations</a>



  {{!-- BASIC SAFETY FAMILIARISATION A-VI/1 --}}

  <div class='row'>
    <div class='col'>
      <b>BASIC SAFETY FAMILIARISATION (STCW A-VI/1) [ON CREW MEMBER ARRIVAL]</b>
    </div>
  </div>
  <div class='row'>
    <div class='col mb-3'>

      ISSUING DATE: {{this.basic_saf_fam}}
    </div>
  </div>

  {{!-- DOWNLOAD BUTTON --}}
  <div class='col mb-3'>
    {{#if this.basic_saf_famD}}
    <a href="https://uploadvms.s3.amazonaws.com/{{this.basic_saf_famD}}">
      <button type="button" class="btn btn-outline-warning">DOWNLOAD</button>

    </a>
  </div>

  {{/if}}


  {{!-- SECURITY RELATED FAMILIARISATION REG A-VI/6 --}}

  <div class='row'>
    <div class='col'>
      <b>SECURITY RELATED FAMILIARISATION (STCW A-VI/6) [ON CREW MEMBER ARRIVAL]</b>
    </div>
  </div>
  <div class='row'>
    <div class='col mb-3'>
      ISSUING DATE: {{this.security_related_fam}}
    </div>
  </div>

{{!-- DOWNLOAD BUTTON --}}
  <div class='col mb-3'>
    {{#if this.security_related_famD}}
    <a href="https://uploadvms.s3.amazonaws.com/{{this.security_related_famD}}">
      <button type="button" class="btn btn-outline-warning">DOWNLOAD</button>

    </a>
  </div>

  {{/if}}


  {{!-- Button with popover shore based courses --}}

  <a tabindex="0" class="btn btn-lg btn btn-primary mt-4 col-md-12" role="button" data-bs-toggle="popover"
    data-bs-trigger="focus"
    title="As per STCW convention, the certification below mentioned must be in possession of the crew memeber before joining the vessel"
    data-bs-content="And here's some amazing content. It's very engaging. Right?">Shore based
    courses</a>

  {{!-- PSSR --}}

  <div class='row mt-5'>
    <div class='col'>
      <b>PSSR (STCW A-VI/1-4)</b>
    </div>
  </div>
  <div class='row'>
    <div class='col mb-3'>
      EXPIRY DATE: {{this.PSSR}}

    </div>
  </div>

{{!-- DOWNLOAD BUTTON --}}
  <div class='col mb-3'>
    {{#if this.PSSRD}}
    <a href="https://uploadvms.s3.amazonaws.com/{{this.PSSRD}}">
      <button type="button" class="btn btn-outline-warning">DOWNLOAD</button>

    </a>
  </div>
{{/if}}


  {{!-- PERSONAL SURVIVAL TECHNIQUE --}}

  <div class='row'>
    <div class='col'>
      <b>PERSONAL SURVIVAL TECHNIQUES (STCW A-VI/1-1)</b>
    </div>
  </div>
  <div class='row'>
    <div class='col mb-3'>
      EXPIRY DATE: {{this.SURVIVAL}}

    </div>
  </div>

  {{!-- DOWNLOAD BUTTON --}}
<div class='col mb-3'>
    {{#if this.SURVD}}
    <a href="https://uploadvms.s3.amazonaws.com/{{this.SURVD}}">
      <button type="button" class="btn btn-outline-warning">DOWNLOAD</button>
    </a>
  </div>
  {{/if}}


  
  {{!-- FIRE PREVENTION AND FIREFIGHTING (STCW A-VI/1-2) --}}

  <div class='row'>
    <div class='col'>
      <b>FIRE PREVENTION AND FIREFIGHTING (STCW A-VI/1-2)</b>
    </div>
  </div>
  <div class='row'>
    <div class='col mb-3'>
      EXPIRY DATE: {{this.FFB}}

    </div>
  </div>

  {{!-- DOWNLOAD BUTTON --}}
<div class='col mb-3'>
    {{#if this.FFBD}}
    <a href="https://uploadvms.s3.amazonaws.com/{{this.FFBD}}">
      <button type="button" class="btn btn-outline-warning">DOWNLOAD</button>
    </a>
  </div>
  {{/if}}



  {{!-- Elementary First Aid --}}
  <div class='row'>
    <div class='col'>
      <b>ELEMENTARY FIRST AID</b>
    </div>
  </div>
  <div class='row'>
    <div class='col mb-3'>
      EXPIRY DATE: {{this.elementary}}

    </div>
  </div>

    {{!-- DOWNLOAD BUTTON --}}
<div class='col mb-3'>
    {{#if this.elementaryD}}
    <a href="https://uploadvms.s3.amazonaws.com/{{this.elementaryD}}">
      <button type="button" class="btn btn-outline-warning">DOWNLOAD</button>
    </a>
  </div>
  {{/if}}


  {{!-- ADVANCED FIRE FIGHTING (STCW A-VI/3) --}}

  <div class='row'>
    <div class='col'>
      <b>ADVANCED FIRE FIGHTING (STCW A-VI/3)</b>
    </div>
  </div>
  <div class='row'>
    <div class='col mb-3'>
      EXPIRY DATE: {{this.ADV}}
    </div>
  </div>

  {{!-- DOWNLOAD BUTTON --}}
<div class='col mb-3'>
    {{#if this.ADVD}}
    <a href="https://uploadvms.s3.amazonaws.com/{{this.ADVD}}">
      <button type="button" class="btn btn-outline-warning">DOWNLOAD</button>

    </a>
  </div>
  {{/if}}

  {{!-- MAMS --}}


  <div class='row'>
    <div class='col'>
      <b>PROFICENCY IN SURVIVAL CRAFTS AND RESCUE BOATS (other than fast rescue boat) (STCW A-VI/2)</b>
    </div>
  </div>
  <div class='row'>
    <div class='col mb-3'>
      EXPIRY DATE: {{this.MAMS}}
    </div>
  </div>

    {{!-- DOWNLOAD BUTTON --}}
<div class='col mb-3'>
    {{#if this.MAMSD}}
    <a href="https://uploadvms.s3.amazonaws.com/{{this.MAMSD}}">
      <button type="button" class="btn btn-outline-warning">DOWNLOAD</button>

    </a>
  </div>
  {{/if}}

  
  {{!-- FAST RESCUE BOATS (STCW A-VI/2) --}}

  <div class='row'>
    <div class='col'>
      <b>FAST RESCUE BOATS (STCW A-VI/2) [not required if not part of the fast rescue boat team]</b>
    </div>
  </div>
  <div class='row'>
    <div class='col mb-3'>
      EXPIRY DATE: {{this.FRC}}

    </div>
  </div>

      {{!-- DOWNLOAD BUTTON --}}
<div class='col mb-3'>
    {{#if this.FRCD}}
    <a href="https://uploadvms.s3.amazonaws.com/{{this.FRCD}}">
      <button type="button" class="btn btn-outline-warning">DOWNLOAD</button>

    </a>
  </div>
  {{/if}}



  {{!-- MEDICAL FIRST AID (STCW A-VI/4-1) --}}


  <div class='row'>
    <div class='col'>
      <b>MEDICAL FIRST AID (STCW A-VI/4-1)</b>
    </div>
  </div>
  <div class='row'>
    <div class='col mb-3'>
      EXPIRY DATE: {{this.medical_first}}
    </div>
  </div>

        {{!-- DOWNLOAD BUTTON --}}
<div class='col mb-3'>
    {{#if this.medical_firstD}}
    <a href="https://uploadvms.s3.amazonaws.com/{{this.medical_firstD}}">
      <button type="button" class="btn btn-outline-warning">DOWNLOAD</button>

    </a>
  </div>
  {{/if}}


  {{!-- MEDICAL CARE (STCW A-VI/4-2) --}}

  <div class='row'>
    <div class='col'>
      <b>MEDICAL CARE (STCW A-VI/4-2) [not required for second Officers and below]</b>
    </div>
  </div>
  <div class='row'>
    <div class='col mb-3'>
      EXPIRY DATE: {{this.medical_care}}

    </div>
  </div>

      {{!-- DOWNLOAD BUTTON --}}
<div class='col mb-3'>
    {{#if this.medical_careD}}
    <a href="https://uploadvms.s3.amazonaws.com/{{this.medical_careD}}">
      <button type="button" class="btn btn-outline-warning">DOWNLOAD</button>

    </a>
  </div>
  {{/if}}



  {{!-- GMDSS GOC (STCW A- IV/2) --}}

  <div class='row'>
    <div class='col'>
      <b>GMDSS GOC (STCW A- IV/2)</b>
    </div>
  </div>
  <div class='row'>
    <div class='col mb-3'>
      EXPIRY DATE: {{this.GMDSS}}

    </div>
  </div>

        {{!-- DOWNLOAD BUTTON --}}
<div class='col mb-3'>
    {{#if this.GMDSSD}}
    <a href="https://uploadvms.s3.amazonaws.com/{{this.GMDSSD}}">
      <button type="button" class="btn btn-outline-warning">DOWNLOAD</button>

    </a>
  </div>
  {{/if}}


  {{!-- RADAR (STCW REG A-II/1) --}}

  <div class='row'>
    <div class='col'>
      <b>RADAR (STCW REG A-II/1)</b>
    </div>
  </div>
  <div class='row'>
    <div class='col mb-3'>
      ISSUING DATE: {{this.RADAR}}

    </div>
  </div>

        {{!-- DOWNLOAD BUTTON --}}
<div class='col mb-3'>
    {{#if this.RADARD}}
    <a href="https://uploadvms.s3.amazonaws.com/{{this.RADARD}}">
      <button type="button" class="btn btn-outline-warning">DOWNLOAD</button>

    </a>
  </div>
  {{/if}}
  


  {{!-- ARPA (STCW A-II/1 - A-II/2)[AUTOMATIC RADAR PLOTTING AID] --}}

  <div class='row'>
    <div class='col'>
      <b>ARPA (STCW A-II/1 - A-II/2)</b>
    </div>
  </div>
  <div class='row'>
    <div class='col mb-3'>
      ISSUING DATE: {{this.ARPA}}

    </div>
  </div>

          {{!-- DOWNLOAD BUTTON --}}
<div class='col mb-3'>
    {{#if this.ARPAD}}
    <a href="https://uploadvms.s3.amazonaws.com/{{this.ARPAD}}">
      <button type="button" class="btn btn-outline-warning">DOWNLOAD</button>

    </a>
  </div>
  {{/if}}




  {{!-- RADAR A.R.P.A.-BRIDGE TEAM WORK (STCW A-II/2)[ARPA SAR] --}}

  <div class='row'>
    <div class='col'>
      <b>RADAR A.R.P.A.-BRIDGE TEAM WORK (STCW A-II/2)</b>
    </div>
  </div>
  <div class='row'>
    <div class='col mb-3'>
      ISSUING DATE: {{this.arpa_btw}}

    </div>
  </div>

          {{!-- DOWNLOAD BUTTON --}}
<div class='col mb-3'>
    {{#if this.arpa_btwD}}
    <a href="https://uploadvms.s3.amazonaws.com/{{this.arpa_btwD}}">
      <button type="button" class="btn btn-outline-warning">DOWNLOAD</button>

    </a>
  </div>
  {{/if}}


  {{!-- ECDIS Generic Training (STCW A-II/1, A-II/2) --}}

  <div class='row'>
    <div class='col'>
      <b>ECDIS Generic Training (STCW A-II/1, A-II/2)</b>
    </div>
  </div>
  <div class='row'>
    <div class='col mb-3'>
      EXPIRY DATE: {{this.ecdis_gen}}

    </div>
  </div>

  
          {{!-- DOWNLOAD BUTTON --}}
<div class='col mb-3'>
    {{#if this.ecdis_genD}}
    <a href="https://uploadvms.s3.amazonaws.com/{{this.ecdis_genD}}">
      <button type="button" class="btn btn-outline-warning">DOWNLOAD</button>

    </a>
  </div>
  {{/if}}



  {{!-- ECDIS Ship Specific Equipment Familiarisation Training --}}

  <div class='row'>
    <div class='col'>
      <b>ECDIS Ship Specific Equipment Familiarisation Training</b>
    </div>
  </div>
  <div class='row'>
    <div class='col mb-3'>
      ISSUING DATE: {{this.ecdis_specific}}

    </div>
  </div>

        {{!-- DOWNLOAD BUTTON --}}
<div class='col mb-3'>
    {{#if this.ecdis_specificD}}
    <a href="https://uploadvms.s3.amazonaws.com/{{this.ecdis_specificD}}">
      <button type="button" class="btn btn-outline-warning">DOWNLOAD</button>
    </a>
  </div>
  {{/if}}
  


  {{!-- SHIP SECURITY OFFICER REG A-VI/5 --}}

  <div class='row'>
    <div class='col'>
      <b>SHIP SECURITY OFFICER REG A-VI/5</b>
    </div>
  </div>
  <div class='row'>
    <div class='col mb-3'>
      EXPIRY DATE: {{this.SSO}}

    </div>
  </div>

  
        {{!-- DOWNLOAD BUTTON --}}
<div class='col mb-3'>
    {{#if this.SSOD}}
    <a href="https://uploadvms.s3.amazonaws.com/{{this.SSOD}}">
      <button type="button" class="btn btn-outline-warning">DOWNLOAD</button>
    </a>
  </div>
  {{/if}}
  


  {{!--USE OF LEADERSHIP AND MANAGERIAL SKILLS TRAINING COURSE --}}

  <div class='row'>
    <div class='col'>
      <b>USE OF LEADERSHIP AND MANAGERIAL SKILLS TRAINING COURSE</b>
    </div>
  </div>
  <div class='row'>
    <div class='col mb-3'>
      ISSUING DATE: {{this.leadership_managerial}}

    </div>
  </div>

  
        {{!-- DOWNLOAD BUTTON --}}
<div class='col mb-3'>
    {{#if this.leadership_managerialD}}
    <a href="https://uploadvms.s3.amazonaws.com/{{this.leadership_managerialD}}">
      <button type="button" class="btn btn-outline-warning">DOWNLOAD</button>
    </a>
  </div>
  {{/if}}
  


  {{!-- MARINE HIGH VOLTAGE SAFETY COURSE --}}

  <div class='row'>
    <div class='col'>
      <b>MARINE HIGH VOLTAGE SAFETY COURSE (Op. level for III/1, Mng. level for III/2)</b>
    </div>
  </div>
  <div class='row'>
    <div class='col mb-3'>
      ISSUING DATE: {{this.high_voltage}}

    </div>
  </div>

        {{!-- DOWNLOAD BUTTON --}}
<div class='col mb-3'>
    {{#if this.high_voltageD}}
    <a href="https://uploadvms.s3.amazonaws.com/{{this.high_voltageD}}">
      <button type="button" class="btn btn-outline-warning">DOWNLOAD</button>
    </a>
  </div>
  {{/if}}
  


  {{!-- leader_teamwork_deck --}}

  <div class='row'>
    <div class='col'>
      <b>LEADERSHIP & TEAM WORK
        (Tables A-II/1, A-II/2)[DECK]</b>
    </div>
  </div>
  <div class='row'>
    <div class='col mb-3'>
      ISSUING DATE: {{this.leader_teamwork_deck}}

    </div>
  </div>

    {{!-- DOWNLOAD BUTTON --}}
<div class='col mb-3'>
    {{#if this.leader_teamwork_deckD}}
    <a href="https://uploadvms.s3.amazonaws.com/{{this.leader_teamwork_deckD}}">
      <button type="button" class="btn btn-outline-warning">DOWNLOAD</button>
    </a>
  </div>
  {{/if}}
  



  {{!-- leader_teamwork_engine --}}

  <div class='row'>
    <div class='col'>
      <b>LEADERSHIP & TEAMWORK
        (Tables A-III/1, A-III/2)[ENGINE]</b>
    </div>
  </div>
  <div class='row'>
    <div class='col mb-3'>
      ISSUING DATE: {{this.leader_teamwork_engine}}

    </div>
  </div>

  
    {{!-- DOWNLOAD BUTTON --}}
<div class='col mb-3'>
    {{#if this.leader_teamwork_engineD}}
    <a href="https://uploadvms.s3.amazonaws.com/{{this.leader_teamwork_engineD}}">
      <button type="button" class="btn btn-outline-warning">DOWNLOAD</button>
    </a>
  </div>
  {{/if}}
  



  {{!-- SECURITY AWARNESS REG A-VI/6-1 [FOR ALL CREW MEMBER WITHOUTH SECURITY DUTIES] --}}

  <div class='row'>
    <div class='col'>
      <b>SECURITY AWARNESS REG A-VI/6-1[For all crew member WITHOUTH security duties]</b>
    </div>
  </div>
  <div class='row'>
    <div class='col mb-3'>
      ISSUING DATE: {{this.security_awa}}

    </div>
  </div>

  
    {{!-- DOWNLOAD BUTTON --}}
<div class='col mb-3'>
    {{#if this.security_awaD}}
    <a href="https://uploadvms.s3.amazonaws.com/{{this.security_awaD}}">
      <button type="button" class="btn btn-outline-warning">DOWNLOAD</button>
    </a>
  </div>
  {{/if}}
  


  {{!-- SEAFARERS WITH DESIGNATED SECURITY DUTIES A-VI/6-2 --}}

  <div class='row'>
    <div class='col'>
      <b>SEAFARERS WITH DESIGNATED SECURITY DUTIES A-VI/6-2[For all crew member WITH security
        duties]</b>
    </div>
  </div>
  <div class='row'>
    <div class='col mb-3'>
      ISSUING DATE: {{this.security_duties}}

    </div>
  </div>

  
    {{!-- DOWNLOAD BUTTON --}}
<div class='col mb-3'>
    {{#if this.security_dutiesD}}
    <a href="https://uploadvms.s3.amazonaws.com/{{this.security_dutiesD}}">
      <button type="button" class="btn btn-outline-warning">DOWNLOAD</button>
    </a>
  </div>
  {{/if}}
  



</div>


{{/each}}

</div>